html { /*Uma pequena parte usando CSS para deixar a página branca e a fonte maior.*/
    font-size: 22px
}

body { /*Mudando a cor da página*/
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

mark{ /*Mudando a cor do marca texto*/
    background-color: #ff0000;
}

a { /*Mudando a cor dos links*/
    color : rgb(0, 26, 255);
}

a:visited { /*Cor dos links após clicar*/
    color: rgb(0, 13, 129)
}

a:hover, a:active { /*Cor dos links após passar o mouse por cima*/
    color: #ff0000;
}

h1.titulo-quarta-pagina { /*Mudando a cor do <h1> da quarta página*/
    color: blueviolet;
}